# Reddit data collection
praw
asyncpraw
langdetect

# Core data handling
pandas
numpy

# Machine Learning
scikit-learn

# Deep Learning
torch
transformers

# Explainability
lime

# Visualization
matplotlib
seaborn